<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="../../assets/scripts/index.js" defer type="module"></script>
    <link rel="stylesheet" href="../../assets/styles/index.css">
    <link rel="stylesheet" href="../../assets/libs/@mdi/css/materialdesignicons.css">
</head>

<body>
    <header class="header">
        <h1>Portfolio</h1>
        <div>
            <span class="mdi mdi-menu"></span>
            <nav>
                <a href="">Home</a>
                <a href="">Projectos</a>
                <a href="">Especialidades</a>
                <a href="">Habilidades Profissionais</a>
                <a href="">Serviços</a>
                <a href="">Sobre</a>
                <a href="">Contacto</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="home">
            <div class="me">
                <div class="img">
                    <img src="../../assets/images/eu_edited.png" alt="">
                    <div class="social-media">
                        <a href="" class="mdi mdi-facebook"></a>
                        <a href="" class="mdi mdi-whatsapp"></a>
                        <a href="" class="mdi mdi-youtube"></a>
                        <a href="" class="mdi mdi-github"></a>
                        <a href="" class="mdi mdi-linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="description">
                <h1>Olá! Eu sou <strong> Gabriel Pedro Aurélio.</strong></h1>
                <p>
                    Desenvolvedor Junior focado na criação de soluções inovadores modernas e funcionais aos problemas
                    que a sociedade passa, com o objectivo de tornar a vida mais viavél e produtiva com as tecnologia
                    que estão regente no mundo.


                </p>
                <div class="option">
                    <a href="" class="mdi mdi-school">Projectos</a>
                    <a href="../../assets/docs/cv.pdf" class="mdi mdi-download"
                        download="cv-Gabriel-Pedro-Aurelio">Baixar CV</a>
                </div>
            </div>
        </section>
        <section class="projects">
            <h1 class="title-section">Galeria de Projectos</h1>
            <div class="grid">
            </div>
        </section>
        <section class="skills">
            <h1 class="title-section">Especialidades</h1>
          <!--  <div class="grid">

               

                <div class="card">
                    <i class="mdi mdi-brain"></i>
                    <h1>IA</h1>
                    <p>
                        Especializado em <dfn title="Machine Learning">ML</dfn>, <dfn title="Deep Learning">DL</dfn>
                        e <dfn title="Visão Computacional">VC</dfn>, ou seja,
                        dominio nas novas tecnologias de <dfn title="Inteligencia Artificial">IA</dfn>
                        e experiencia em muitos projectos de Aprendizado de Maquina, Visão Computacional e Redes
                        Neurais. Capacidade e liderar uma força tarefa para Soluções Com IA
                    </p>
                </div>
                <div class="card">

                    <i class="mdi mdi-code-braces"></i>
                    <h1>Web Development</h1>
                    <p>
                        Desenvolvedor Web FullStack com competencias nos frameworks mais modernos e robusto como
                        Express, NestJS,Laravel e Django para o desenvolvimento backend e para o desenvolvimento
                        frontend conto com uma gama de habilidades em React + NextJs, VueJs, Angular e React Native
                        para desenvolvimento Mobile Mult-Plataforma
                    </p>
                </div>
                <div class="card">
                    <i class="mdi mdi-security"></i>
                    <h1>Pentesting</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab provident libero, corporis
                        tempore commodi accusamus tenetur, ducimus alias qui sint vero excepturi recusandae odit
                        consectetur optio cumque sequi in dolorem.
                    </p>
                </div>
                <div class="card">
                    <i class="mdi mdi-database"></i>
                    <h1>
                        Administração de Banco de Dados SQL
                    </h1>
                    <p>
                        Especialista em administração de estruturas de banco de dados SQL e NoSQL com habilidade e
                        competencias para projectar, modelar, desenvolver, realizar manunteção, optimizar e tornar
                        seguro qualquer banco de dados isso seguindo todas as regras de negocios pre-estabelecias
                    </p>
                </div>



            </div>
            -->
        </section>

        <section class="habilities">
            <h1 class="title-section">Habilidades Profissionais</h1>

            <div class="grid">

                <div class="card">
                    <i class="mdi mdi-lightbulb-outline"></i>
                    <h3>Criactividade</h3>
                    <p>
                        Capacidade de propor Soluções originais e inovadoras para problemas técnicos e de disign.
                        Sempre busco abordagens diferentes que melhoram a experiencia do usuario e otimizam
                        processos.
                    </p>
                </div>
                <div class="card">
                    <i class="mdi mdi-account-group-outline"></i>
                    <h3>Trabalho em Equipe</h3>

                    <p>
                        Sei colaborar em ambientes com diferentes perfis. Respeito ideias, contribuo activamente
                        para alcançar objectivos em comum
                    </p>
                </div>
                <div class="card">
                    <i class="mdi mdi-message-text-outline"></i>
                    <h3>Comunicação</h3>
                    <p>
                        Boa capacidade de expressar ideias técnicas e não tecnica de forma clara, tanto por escrito
                        quanto verbalmente
                    </p>
                </div>
                <div class="card">
                    <i class="mdi mdi-clock-outline"></i>
                    <h3>Gestão de Tarefas e Tempo</h3>
                    <p>
                        Organiso minhas actidades por prioridade e prazos
                    </p>
                </div>
                <div class="card">
                    <i class="mdi mdi-school-outline"></i>
                    <h3>Aprendizado Continuo</h3>
                    <p>
                        Tenho facilidade para aprender novas tecnologias e metodologias. Estou estudando e aplicando
                        conhecimentos adquiridos rapidamente
                    </p>
                </div>
                <div class="card">
                    <i class="mdi mdi-walk"></i>
                    <h3>Autonomia</h3>
                    <p>
                        Capaz de trabalhar de forma independente , tomando decisões quando necessário e buscando
                        Soluções sem depender de orientação constante
                    </p>
                </div>


            </div>
        </section>
        <section class="services">
            <h1 class="title-section">Serviços</h1>
        </section>
        <section class="about">
            <h1 class="title-section">Sobre</h1>
        </section>
        <section class="contact">
            <h1 class="title-section">Fale Comigo</h1>
        </section>

    </main>
</body>

</html>